@import 'normalize.css';

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: 'PTRootUIWeb', sans-serif;
    font-size: 16px;
    color: #151528;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}


/* CONTAINER */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1420px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 961px) {
    .container {
        max-width: 1420px;
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 80px);
    }
}
@media (min-width: 1601px) {
    .container {
        max-width: 1420px;
        padding-left: 90px;
        padding-right: 90px;
        width: calc(100% - 180px);
    }
}
/* CONTAINER */


.pt-1 {
    padding-top: 50px;
}
.pb-1 {
    padding-bottom: 50px;
}

.title-header {
    color: #151528;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%;
}
.title-header::after {
    background: #000;
    content: " ";
    display: block;
    height: 2px;
    margin-top: 15px;
    width: 100px;
}
.title-header-center {
    text-align: center;
}
.title-header-center::after {
    margin-left: auto;
    margin-right: auto;
}



/* HEADER */
header {
    padding-top: 10px;
}
header .container {
    align-items: center;
}
.header-top-logo {
    width: 20%;
}
.header-top-logo a {
    display: block;
}
.header-top-logo a img {
    width: 250px;
    max-width: 100%;
}
.header-top-nav {
    width: 61%;
    display: flex;
    justify-content: flex-end;
}
.header-top-nav nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top-nav nav ul li {
    margin: 0 15px;
    position: relative;
}
.header-top-nav nav ul li a {
    text-align: center;
    color: #151528;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    cursor: pointer;
    font-weight: 500;
}
.header-top-nav nav ul li a:hover,
.header-top-nav nav ul li a:focus {
    color: #FF9414;
}
.header-top-nav nav ul li a svg {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.search-form {
    width: 350px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90px;
    display: none;
}
.search-form input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.search-form input[type="text"]:focus {
    outline: none;
    border-color: #FF9414;
}
.search-form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: none;
    box-shadow: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    background-color: #FF9414;
    line-height: 1;
    height: 100%;
    padding: 0 10px;
    border-radius: 4px;
    color: #fff;
}
.search-product-item {
    margin-bottom: 20px;
}
.search-product-item:before {
    content: '- ';
}
.search-product-item a {
    color: #151528;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}
.favorites-coutner {
    background-color: #FF9414;
    color: #fff;
    font-weight: 700;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 15px;
}
.header-top-tel {
    width: 19%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
}
.header-top-tel a {
    width: 100%;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: #FF9414;
}
.header-top-tel span {
    width: 100%;
    font-size: 14px;
    color: #60605e;
}
.header-bottom {
    margin-top: 10px;
    background-color: rgb(245, 245, 246);
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #edeef3;
    border-bottom: 1px solid #edeef3;
    position: relative;
    height: 40px;
}
.header-bottom .container {
    position: relative;
}
.header-bottom-menu {
    width: 11%;
    height: 100%;
}
.header-bottom-menu-content {
    display: none;
    position: absolute;
    top: 39px;
    left: 40px;
    width: 300px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #FF9414;
}
.header-bottom-menu-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-bottom-menu-content ul li a {
    display: block;
    color: #151528;
    text-decoration: none;
    padding: 15px 30px;
}
.header-bottom-menu-content ul li a:hover,
.header-bottom-menu-content ul li a:focus {
    color: #FF9414;
    background-color: #f5f5f5;
}
.header-bottom-menu-content ul li a.visited {
    color: #FF9414;
    background-color: #f5f5f5;
}
.header-bottom-menu-content.expanded {
    display: block;
}
.header-bottom-menu button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    box-shadow: none;
    border: 1px solid #FF9414;
    background: none;
    color: #FF9414;
}
.header-bottom-menu button:hover,
.header-bottom-menu button:focus {
    cursor: pointer;
    background-color: #FF9414;
    color: #fff;
}
.header-bottom-menu button svg {
    display: block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.header-bottom-nav {
    width: 78%;
}
.header-bottom-nav nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
}
.header-bottom-nav nav ul li a {
    color: #151528;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.header-bottom-nav nav ul li a:hover,
.header-bottom-nav nav ul li a:focus {
    color: #FF9414;
}
.header-bottom-action {
    width: 11%;
    justify-content: flex-end;
    text-align: right;
    height: 100%;
}
.header-bottom-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FF9414;
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}
/* HEADER */



/* HOME PAGE */
.home-main-slider {
    height: 450px;
    position: relative;
}
.home-main-slider-item {
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.home-main-slider-item-inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.home-main-slider-item-inner h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}
.home-main-slider-item-inner p {
    font-size: 18px;
    margin: 0;
}
.home-main-slider-item-inner a {
    background-color: #FF9414;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
}
/* HOME PAGE */



/* CATEGORY */
.category {
    margin-top: 30px;
    position: relative;
    align-items: flex-start;
}
.container .category-filter {
    width: calc(25% - 25px);
    margin-right: 25px;
    position: relative;
    background-color: rgb(245, 245, 246);
    padding-top: 30px;
    margin-bottom: 50px;
}
.overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100%;
    z-index: 999;
    cursor: wait;
}
.filter-box {
    /* background-color: #f6f6f6;
    border: 1px solid #edeef3; */
    padding: 0 30px;
    margin-bottom: 40px;
}
.filter-box p {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}
.filter-box-list-large {
    height: 250px;
    overflow-y: auto;
}
.filter-box-list img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #ccc;
}
.filter-box-list .form-check {
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: 100%;
}
.filter-box-list .form-check-label {
    display: flex;
    align-items: center;
    margin-left: 5px;
    line-height: 1;
}
.filter-box-list .form-check-label small {
    font-size: 11px;
    margin-left: 5px;
}
.applied-filters-remover {
    margin-bottom: 25px;
}
.applied-filters-remover ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.applied-filters-remover ul li {
    background-color: rgb(245, 245, 246);
    background-color: rgba(232, 168, 84, 0.25);
    font-size: 14px;
    padding: 6px 6px 6px 12px;
    margin-right: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.applied-filters-remover ul li button {
    background: none;
    font-weight: 700;
    font-size: 30px;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    padding: 5px;
}
.applied-filters-remover ul li button svg {
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    color: #777;
}
.applied-filters-remover ul li button:hover svg {
    color: #000;
}
.category-filter-buttons {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.category-filter-button {
    padding: 12px 22px;
    box-shadow: none;
    border: 0;
    cursor: pointer;
}
.category-filter-button:nth-of-type(1) {
    background-color: #FF9414;
    color: #fff;
    width: 60%;
}
.category-filter-button:nth-of-type(2) {
    background-color: #ccc;
    color: #333;
    width: 40%;
}
.category-filter-button-full {
    width: 100% !important;
}
.container .category-products {
    width: 75%;
}
.container .category-products h1 {
    margin-top: 0;
}
.category-products-list,
.recently-viewed-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.pagination button {
    margin: 0 5px;
    box-shadow: none;
    border: 1px solid #FF9414;
    padding: 8px 12px;
    background: none;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
}
.pagination button:hover {
    background-color: #FF9414;
    color: #fff;
}
.pagination button:disabled {
    border-color: #ccc;
    cursor: auto;
}
.pagination button:disabled:hover,
.pagination button:disabled:focus {
    background: none;
    color: #ccc;
}
/* CATEGORY */



/* PRODUCT LIST */
.products-list-item {
    text-align: center;
    width: 25%;
    position: relative;
    height: 400px;
    margin-bottom: 25px;
}
.products-list-item .product-list-item-inner {
    display: block;
    text-decoration: none;
    color: #151528;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    height: 100%;
    background-color: #fff;
}
.products-list-item:hover .product-list-item-inner,
.products-list-item:focus .product-list-item-inner {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: rgb(223, 223, 225) 0px 5px 25px;
    height: 440px;
    z-index: 10;
}
.products-list-item .product-list-item-inner a {
    text-decoration: none;
    color: #151528;
}
.products-list-item-buttons {
    display: none;
    width: 100%;
    justify-content: center;
}
.products-list-item:hover .products-list-item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-list-item-buttons a {
    border: 1px solid;
    border-color: #FF9414;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    width: calc(50% - 20px);
}
.products-list-item-buttons a:nth-child(1) {
    background-color: #FF9414;
    color: #fff;
}
.products-list-item-buttons a:nth-child(2) {
    background-color: transparent;
    color: #151528;
}
.products-list-item .products-list-item-name {
    margin: 0;
    margin-top: 10px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.products-list-item-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.products-list-item-balance svg {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.products-list-item-price small {
    font-size: 100%;
}
.products-list-item-price {
    font-weight: 700;
    color: #FF9414;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 18px;
}
.products-list-item-price small {
    margin-left: 3px;
}
.products-list-item-price-old {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: line-through;
}
.products-list-item-percent {
    position: absolute;
    top: 245px;
    left: 15px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 3px 3px;
    font-weight: 700;
    font-size: 12px;
}
.products-list-item-image {
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.products-list-item-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.products-list-item-colors {
    display: none;
    position: absolute;
    top: 50px;
    right: 15px;
}
.products-list-item:hover .products-list-item-colors {
    display: block;
}
.products-list-item-colors ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.products-list-item-colors ul li img {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 2px solid #ccc;
}
.products-list-item-tags {
    position: absolute;
    top: 15px;
    left: 15px;
}
.products-list-item-tag {
    color: #fff;
    font-size: 11px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.products-list-item-tag-hit {
    background-color: #FF9414;
}
.products-list-item-tag-special {
    background-color: #f7bc4b;
}
.products-list-item-tag-discount {
    background-color: #FF9414;
}
.products-list-item-tag-sale {
    background-color: #FF9414;
}
.product-list-item-sku-params {
    height: 100px;
    margin-top: 10px;
}
.product-list-item-sku-params-i {
    display: inline-flex;
    border: 1px solid #ccc;
    padding: 6px 12px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 12px;
    line-height: 1;
    margin: 5px 0;
}
.product-list-item-sku-params-i img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 0 5px;
    border: 2px solid #ccc;
}
/* PRODUCT LIST */



/* CATEGORY FILTER */
.form-check-label-disabled {
    color: #151528;
    opacity: 0.5;
}
.range-slider {
    height: 3px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}
.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #FF9414;
}
.range-input {
    position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #FF9414;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FF9414;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}
.range-price {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.range-price label {
    margin-right: 5px;
}
.range-price input {
    width: 90px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.range-price input:first-of-type {
    margin-right: 15px;
} 
/* CATEGORY FILTER */



/* PRODUCT PAGE */
.product-detail {
    margin-top: 30px;
}
.product-detail-image-sliders {
    width: 35%;
}
.product-detail-vkhod .product-detail-image-sliders {
    width: 40%;
}
.product-detail-sliders-wrapper {
    display: flex;
}
.product-detail-slider {
    width: calc(100% - 90px);
}
.product-detail-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail-slider .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.product-detail-slider-vkhod .swiper-slide img {
    max-width: 50%;
}
.swiper.product-detail-slider-mini {
    height: 500px;
    width: 80px;
    margin: 0;
    padding: 0;
    position: relative;
}
.product-detail-slider-mini .swiper-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0px 0px 0px 1px #eee;
    padding: 0;
}
.product-detail-slider-mini .actvd {
    box-shadow:inset 0px 0px 0px 1px #FF9414;
}
.product-detail-slider-mini .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 0 auto;
}
.product-detail-slider-mini .button-prev,
.product-detail-slider-mini .button-next {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 100%;
}
.product-detail-slider-mini .button-prev,
.product-detail-slider-mini .button-next {
    background-color: #FF9414;
    width: 30px;
    height: 30px;
    padding: 0;
}
.product-detail-slider-mini .button-prev {
    top: 5px;
}
.product-detail-slider-mini .button-next {
    bottom: 5px;
}
.product-detail-slider-mini .button-prev svg,
.product-detail-slider-mini .button-next svg {
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 22px;
    height: 22px;
}
.product-detail-slider-mini .button-prev svg {
    margin-top: -2px;
}
.product-detail-slider-mini .button-next svg {
    margin-top: 3px;
}
.product-detail-desc {
    width: 48%;
}
.product-detail-vkhod .product-detail-desc {
    width: 45%;
    padding-left: 30px;
}
.product-detail-name {
    margin-top: 0;
    margin-bottom: 40px;
    display: inline-flex;
    width: 70%;
}
.product-colors-list,
.product-glasses-list,
.product-sizes-list,
.product-types-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.product-colors-list li,
.product-glasses-list li,
.product-sizes-list li,
.product-types-list li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px
}
.product-colors p,
.product-glasses p,
.product-sizes p,
.product-types p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}
.product-color-button,
.product-glass-button,
.product-size-button,
.product-type-button {
    background: none;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    padding: 8px 12px
}
.product-color-button,
.product-glass-button {
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: 32px
}
.product-color-button_active,
.product-glass-button_active,
.product-size-button_active,
.product-type-button_active {
    border-color: #FF9414
}
.product-price {
    color: #222;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.product-price i {
    font-style: normal;
    color: rgb(179, 179, 183);
}
.product-price del {
    color: #5d5d64;
    font-size: 28px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
}
.product-price del:before {
    background-color: #5d5d64;
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.product-order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.product-order button {
    width: 180px;
    max-width: 100%;
    background-color: #FF9414;
    color: #fff;
    box-shadow: none;
    border: 0;
    padding: 0 28px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-right: 15px;
}
.product-order button:nth-child(2) {
    color: rgb(21, 21, 40);
    background-color: rgb(245, 245, 246);
}
.product-order button:nth-child(2):hover {
    color: #FF9414;
}
.product-order button svg {
    display: block;
    margin-right: 7px;
}
.product-balance {
    color: rgb(93, 93, 100);
}
.product-balance.product-balance-green {
    color: green;
}
.product-detail-help-buttons {
    width: 17%;
    padding-left: 35px;
}
.product-detail-vkhod .product-detail-help-buttons {
    width: 15%;
}
.product-detail-help-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-detail-help-buttons ul li button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.product-detail-help-buttons ul li button img {
    display: block;
    height: 25px;
    margin: 0 auto 10px;
    width: 25px;
}
.product-detail-help-buttons ul li button span {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 2px;
    color: #151528;
    font-size: 14px;
}
.product-detail-help-buttons ul li button:hover,
.product-detail-help-buttons ul li button:focus {
    cursor: pointer;
    border-color: #FF9414;
}
.product-detail-help-buttons ul li button:hover span,
.product-detail-help-buttons ul li button:focus span {
    color: #FF9414;
    border-color: #FF9414;
}
.product-detail-tabs-buttons {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.product-detail-tab-button {
    margin-right: 20px;
}
.product-detail-tab-button button {
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid transparent;
    background: none;
    padding: 20px 0;
}
.product-detail-tab-button button:hover,
.product-detail-tab-button button:focus,
.product-detail-tab-button-active button {
    cursor: pointer;
    color: #FF9414;
    border-bottom-color: #FF9414 !important;
}
.product-detail-tabs {
    width: 100%;
    margin-top: 50px;
}
.product-detail-tab {
    display: none;
    background-color: rgb(248,249,250);
    border-top: 1px solid #edeef3;
    border-bottom: 1px solid #edeef3;
    padding: 50px 0;
    font-size: 17px;
    line-height: 1.75;
}
.product-detail-tab-active {
    display: block;
}
.product-detail-tab-left {
    width: 35%;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
}
.product-detail-tab-right {
    width: 65%;
}
.product-detail-tab-attributes table {
    width: 100%;
}
.product-detail-tab-attributes table tr td {
    padding: 8px;
}
.product-detail-tab-attributes table tr td:first-child {
    color: #5d5d64;
    width: 30%;
    font-weight: 700;
}
.product-reviews-stars {
    display: inline-flex;
    width: 30%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    line-height: 1;
}
.product-reviews-stars svg {
    width: 90px;
    margin-right: 10px;
}
.product-reviews-stars span {
    width: 100%;
    font-size: 14px;
    color: rgb(93, 93, 100);
}
.product-reviews-stars span:hover {
    color: #FF9414;
}
.breadcrumbs {
    margin-top: 30px;
}
.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;
}
.breadcrumbs ul li {
    margin-left: 7px;
}
.breadcrumbs ul li::before {
    content: '/';
    margin-right: 7px;
    color: #999;
}
.breadcrumbs ul li:nth-child(1),
.breadcrumbs ul li:nth-child(2) {
    margin-left: 0;
}
.breadcrumbs ul li:nth-child(1) {
    margin-right: 10px;
}
.breadcrumbs ul li:nth-child(1)::before,
.breadcrumbs ul .nohash::before {
    content: '';
    margin-right: 0;
}
.breadcrumbs ul li a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}
.breadcrumbs ul li:last-child a {
    color: #999;
}
.breadcrumbs-arrow-back a svg {
    display: block;
    color: #FF9414;
    width: 35px;
    height: 35px;
}
.product-review {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}
.product-review-name {
    width: 50%;
    font-weight: 700;
}
.product-review-rating {
    width: 50%;
    text-align: right;
}
.product-review-rating strong {
    color: #FF9414;
}
.product-review-text {
    width: 100%;
    margin-top: 10px;
}
.review_form {
    margin-top: 25px;
    background-color: rgba(233, 168, 83, 0.15);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
.review_form h5 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    width: 100%;
}
.review_form .alert {
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 14px;
}
.review_form .alert.alert-danger {
    background-color: rgba(255, 0, 0, 0.15);
}
.review_form .alert.alert-success {
    background-color: rgba(0,128,0,0.15);
}
.review_form label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.review-form-name {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 25px;
}
.review-form-name input {
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    width: 100%;
}
.review-form-stars {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.review-form-stars label {
    width: 100%;
}
.review-form-stars .form-check-inline {
    width: 20%;
}
.review-form-text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.review-form-text textarea {
    resize: vertical;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.review_form button.btn {
    margin-top: 25px;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #FF9414;
    color: #fff;
    cursor: pointer;
}
/* PRODUCT PAGE */



/* HOW TO BUY */
.how-to-buy {
    background-color: rgb(245, 245, 246);
}
.how-to-buy-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.how-to-buy-item {
    width: 21%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
.how-to-buy-item-icon {
    width: 100px;
    height: 100px;
    border: 2px solid #FF9414;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}
.how-to-buy-item-icon svg {
    display: block;
    color: #FF9414;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.how-to-buy-item-icon-count {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -15px;
    background-color: #FF9414;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 100%;
    text-align: center;
}
.how-to-buy-item-title {
    width: 100%;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 15px;
}
.how-to-buy-item-text {
    width: 100%;
    line-height: 1.35;
}
/* HOW TO BUY */



/* DOGOVOR */
.dogovor {
    background-color: rgb(255, 248, 235);
}
.dogovor-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.dogovor-left {
    width: 60%;
}
.dogovor-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dogovor-left ul li {
    margin-bottom: 20px;
    font-size: 19px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dogovor-left ul li:last-child {
    margin-bottom: 0;
}
.dogovor-left ul li span {
    background-color: #FF9414;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    display: block;
    margin-right: 15px;
    font-weight: 700;
}
.dogovor-left ul li p {
    width: calc(100% - 65px);
}
.dogovor-right {
    width: 40%;
}
.dogovor-right img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
/* DOGOVOR */



/* PAGE */
.page-folder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.page-folder a {
    display: block;
    background-color: #f5f5f5;
    color: #151528;
    text-decoration: none;
    width: calc(25% - 15px);
    margin-right: 30px;
    margin-bottom: 20px;
}
.page-folder a:hover {
    color: #FF9414;
}
.page-f-desc {
    padding: 25px;
}
.page-f-name {
    height: 120px;
    overflow: hidden;
}
.page-cover {
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.page-f-more {
    background-color: #FF9414;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    line-height: 1;
    display: inline-block;
}
.page-detail {
    margin-top: 30px;
    margin-bottom: 50px;
}
.page-detail-text {
    width: 100%;
}
.page-detail-text figure {
    margin: 0;
}
.page-detail-text .table {
    border-collapse: collapse;
    width: 100%;
}
.page-detail-text .table td, .page-detail-text .table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.page-detail-text .table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.page-detail-text .table tr:hover {
    background-color: #ddd;
}
.page-detail-text .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF9414;
    color: white;
}
.page-detail-gallery {
    width: 100%;
}
.page-detail-gallery img {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 600px;
}
/* PAGE */



/* FAVORITES PAGE */
.favorite-remove {
    color: rgb(211, 77, 77);
    border-bottom: 1px dashed;
    font-size: 14px;
    cursor: pointer;
}
/* FAVORITES PAGE */



/* MAP */
.map {
    height: 400px;
    position: relative;
}
.map iframe {
    width: 100%;
    height: 100%;
}
#map-wrapper {
    position: relative;
    cursor: help;
    overflow: hidden;
    height: 100%;
}
.map-title {
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
    display: none;
    padding: 5px 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}
/* MAP */



/* PAGE SEARCH */
.page-search {
    margin-top: 30px;
    margin-bottom: 50px;
}
/* PAGE SEARCH */



/* PAGE PROMOS */
.page-promos,
.page-promo {
    margin-top: 30px;
    margin-bottom: 50px;
}
.promos-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.promo-list-item {
    width: calc(33.3333% - 20px);
    display: block;
    text-decoration: none;
    color: #151528;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.promo-list-item-image {
    height: 250px;
    background-size: cover;
    background-position: center center;
}
.promo-list-item-desc {
    padding: 15px;
    background-color: rgb(245, 245, 246);
}
.promo-list-item-desc h5 {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
}
.page-promo img {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
}
.page-promo-text {
    width: 100%;
}
/* PAGE PROMOS */



/* ZAMER FORM */
.zamer-form {
    background-color: #FF9414;
    background-image: linear-gradient(to right, #efd9bc, #FF9414);
}
.zamer-form .container {
    align-items: center;
}
.zamer-form-left {
    width: 50%;
}
.zamer-form-right {
    width: 50%;
}
.zamer-form-right img {
    width: 100%;
    display: block;
}
.zamer-form .lead-form {
    padding: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
}
.zamer-form .modal-title {
    display: none;
}
.zamer-form .lead-form .mb-4 {
    width: 50%;
    margin-top: 10px;
}
.zamer-form .lead-form .mb-4:nth-child(4) {
    width: 100%;
}
.zamer-form .lead-form .mb-4 input {
    width: calc(100% - 15px);
    border-radius: 5px;
    border-color: #e5b46f;
}
.zamer-form .lead-form small {
    width: 100%;
}
.zamer-form .lead-form .alert {
    display: inline-flex;
    width: auto;
    padding: 5px;
    border-radius: 4px;
    margin: 0;
    margin-left: 15px;
    background: none;
}
.zamer-form .lead-form .alert span {
    margin-right: 15px;
    color: red;
    display: flex;
    align-items: center;
}
.zamer-form .lead-form .alert.alert-success {
    background: none;
}
.zamer-form .lead-form .alert-success span {
    background: none;
    color: green;
    font-weight: 700;
}
/* ZAMER FORM */



/* GALLERY */
.gallery-slider {
    width: 100%;
}
.swiper-slide.gallery-slider-item {
    position: relative;
    height: 300px;
}
.swiper-slide.gallery-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.gallery-slider .swiper-button-next:after,
.gallery-slider .swiper-button-prev:after {
    font-size: 30px;
    color: #FF9414;
}
/* GALLERY */



/* FOOTER */
.footer-top {
    background-color: #F5F5F6;
    padding: 45px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-top a {
    color: #151528;
    text-decoration: none;
}
.footer-about {
    width: 25%;
}
.footer-about .footer-logo {
    width: 300px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}
.footer-about .footer-logo img {
    width: 100%;
}
a.footer-policy {
    border-bottom: 1px solid #FF9414;
}
a.footer-policy:hover,
a.footer-policy:focus {
    color: #FF9414;
}
.footer-nav {
    width: 50%;
    padding-left: 70px;
    display: flex;
}
.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 40px;
}
.footer-nav ul li {
    margin-bottom: 15px;
}
.footer-nav ul li:last-child {
    margin-bottom: 0;
}
.footer-nav ul li a {
    border-bottom: 1px solid #FF9414;
}
.footer-nav ul li a:hover,
.footer-nav ul li a:focus {
    color: #FF9414;
}
.footer-socials {
    width: 25%;
}
.footer-socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.footer-socials ul li {
    width: 40px;
}
.footer-socials ul li a {
    display: block;
}
.footer-socials ul li a img {
    width: 100%;
    display: block;
}
.footer-bottom {
    background-color: #F5F5F6;
    border-top: 1px solid #DFDFE1;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* FOOTER */



/* QUIZ */
.quiz-banner {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 6px;
    background-color: rgba(204, 219, 230, 0.9);
    z-index: 10;
    display: none;
    font-weight: 700;
}
.quiz-banner .container {
    align-items: center;
    justify-content: center;
    width: 700px;
    padding: 0;
}
.quiz-banner p {
    margin: 0;
    width: 70%;
}
.quiz-banner button {
    background: none;
    box-shadow: none;
    border: 0;
    border-radius: 6px;
    padding: 8px 16px;
    margin: 12px 0;
    background-color: #FF9414;
    color: #fff;
}
.quiz-banner button:hover {
    cursor: pointer;
}
.quiz h5 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 20px;
    text-align: center;
}
.quiz ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.quiz ul li {
    height: 100px;
    width: 22%;
    background-color: #fff;
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #040527;
    margin: 0 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.quiz button {
    background: none;
    box-shadow: none;
    border: 0;
    background: none;
    border: 1px solid #FF9414;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    line-height: 1;
    margin-right: 10px;
}
.quiz .lead-form {
    margin-top: 30px;
}
/* QUIZ */



/* LEAD FORM */
.lead-form {
    border: 1px solid #FF9414;
    padding: 40px;
}
.lead-form .mb-4 {
    margin-bottom: 20px;
}
.lead-form .form-label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
}
.lead-form .form-control {
    display: block;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
}
.lead-form .form-control-textarea {
    height: 100px;
    resize: vertical;
}
.lead-form button {
    background-color: #FF9414;
    padding: 10px 20px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
.lead-form .alert {
    background-color: rgba(255, 0, 0, 0.25);
    padding: 15px;
    margin-top: 15px;
}
.lead-form .alert.alert-success {
    background-color: rgba(0, 128, 0, 0.25);
}
.lead-form small {
    display: block;
    margin-top: 15px;
    color: #777;
    font-size: 13px;
}
/* LEAD FORM */



/* DIRECTOR */
.director {
    line-height: 1.7;
    background-color: rgb(245, 245, 246);
}
.director .container {
    align-items: center;
}
.director-left {
    width: 75%;
    padding-right: 200px;
}
.director-right {
    width: 25%;
    text-align: right;
}
.director-right img {
    width: 100%;
    border-radius: 100%;
}
.director p:last-child {
    margin-bottom: 0;
}
.director a {
    display: inline-block;
    margin-top: 25px;
    background-color: #FF9414;
    padding: 12px 20px;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    line-height: 1;
    cursor: pointer;
}
/* DIRECOTR */



/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: modalBg .15s linear;
}
@keyframes modalBg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.modal-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    display: block;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 45px;
    width: 850px;
    max-width: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    animation: modalIntro .3s ease-out;

}
@keyframes modalIntro {
    0% {
        margin-top: -300px;
    }
    100% {
        margin-top: 0;
    }
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 35px;
    line-height: 1px;
    margin-top: -15px;
    margin-right: -15px;
    background-color: #fff;
    border: 2px solid #FF9414;
    border-radius: 100%;
    color: #FF9414;
}
.modal-close:hover {
    background-color: #FF9414;
    color: #fff;
    cursor: pointer;
}
/* MODAL */



/* 404 */
.p404 {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.p404 h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.p404 p {
    margin-top: 0;
    margin-bottom: 20px;
}
.p404 a {
    color: #FF9414;
}
/* 404 */



/* LOADER */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #FF9414;
    border-color: #fff #FF9414 #fff #FF9414;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* LOADER */



/* FONT */
@font-face {
	font-family: 'PTRootUIWeb';
	src: 
		url('../fonts/PT-Root-UI_Regular.woff2') format('woff2'),
		url('../fonts/PT-Root-UI_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWeb';
	src: 
		url('../fonts/PT-Root-UI_Medium.woff2') format('woff2'),
		url('../fonts/PT-Root-UI_Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWeb';
	src: 
		url('../fonts/PT-Root-UI_Bold.woff2') format('woff2'),
		url('../fonts/PT-Root-UI_Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
/* FONT */