@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #212121;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}


/* CONTAINER */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1420px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 961px) {
    .container {
        max-width: 1420px;
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 80px);
    }
}
@media (min-width: 1601px) {
    .container {
        max-width: 1420px;
        padding-left: 90px;
        padding-right: 90px;
        width: calc(100% - 180px);
    }
}
/* CONTAINER */


.pt-1 {
    padding-top: 50px;
}
.pb-1 {
    padding-bottom: 50px;
}

.title-header {
    color: #212121;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%;
}
.title-header::after {
    background: #000;
    content: " ";
    display: block;
    height: 2px;
    margin-top: 15px;
    width: 100px;
}
.title-header-center {
    text-align: center;
}
.title-header-center::after {
    margin-left: auto;
    margin-right: auto;
}



/* HEADER */
header {
    padding-top: 10px;
}
header .container {
    align-items: center;
}
.header-top-logo {
    width: 20%;
}
.header-top-logo a {
    display: block;
}
.header-top-logo a img {
    width: 250px;
    max-width: 100%;
}
.header-top-nav {
    width: 63%;
    display: flex;
    justify-content: flex-end;
}
.header-top-nav nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top-nav nav ul li {
    margin: 0 15px;
}
.header-top-nav nav ul li a {
    text-align: center;
    color: #60605e;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}
.header-top-nav nav ul li a:hover,
.header-top-nav nav ul li a:focus {
    color: #df3e3c;
}
.header-top-nav nav ul li a svg {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.header-top-tel {
    width: 17%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
}
.header-top-tel a {
    width: 100%;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: #df3e3c;
}
.header-top-tel span {
    width: 100%;
    font-size: 14px;
    color: #60605e;
}
.header-bottom {
    margin-top: 10px;
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #edeef3;
    border-bottom: 1px solid #edeef3;
    position: relative;
    height: 40px;
}
.header-bottom .container {
    position: relative;
}
.header-bottom-menu {
    width: 10%;
    height: 100%;
}
.header-bottom-menu-content {
    display: none;
    position: absolute;
    top: 39px;
    left: 40px;
    width: 300px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #df3e3c;
}
.header-bottom-menu-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-bottom-menu-content ul li a {
    display: block;
    color: #212121;
    text-decoration: none;
    padding: 15px 30px;
}
.header-bottom-menu-content ul li a:hover,
.header-bottom-menu-content ul li a:focus {
    color: #df3e3c;
    background-color: #f5f5f5;
}
.header-bottom-menu-content.expanded {
    display: block;
}
.header-bottom-menu button {
    display: flex;
    height: 100%;
    align-items: center;
    box-shadow: none;
    border: 1px solid #df3e3c;
    background: none;
    color: #df3e3c;
    padding: 3px 8px;
}
.header-bottom-menu button:hover,
.header-bottom-menu button:focus {
    cursor: pointer;
    background-color: #df3e3c;
    color: #fff;
}
.header-bottom-menu button svg {
    display: block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.header-bottom-nav {
    width: 76%;
}
.header-bottom-nav nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
.header-bottom-nav nav ul li a {
    color: #212121;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    font-size: 16px;
}
.header-bottom-nav nav ul li a:hover,
.header-bottom-nav nav ul li a:focus {
    color: #df3e3c;
}
.header-bottom-action {
    width: 14%;
    justify-content: flex-end;
    text-align: right;
    height: 100%;
}
.header-bottom-action a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    background-color: #df3e3c;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
}
/* HEADER */



/* HOME PAGE */
.home-main-slider {
    height: 450px;
    position: relative;
}
.home-main-slider-item {
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.home-main-slider-item-inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.home-main-slider-item-inner h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}
.home-main-slider-item-inner p {
    font-size: 18px;
    margin: 0;
}
.home-main-slider-item-inner a {
    background-color: #df3e3c;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
}
/* HOME PAGE */



/* CATEGORY */
.category {
    margin-top: 30px;
}
.container .category-filter {
    width: 25%;
    position: relative;
}
.overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100%;
    z-index: 999;
    cursor: wait;
}
.filter-box {
    background-color: #f6f6f6;
    border: 1px solid #edeef3;
    padding: 20px;
    margin-bottom: 25px;
}
.filter-box p {
    margin-top: 0;
    font-weight: 700;
}
.category-filter-buttons {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.category-filter-button {
    padding: 12px 22px;
    box-shadow: none;
    border: 0;
}
.category-filter-button:nth-of-type(1) {
    background-color: #df3e3c;
    color: #fff;
    width: 60%;
}
.category-filter-button:nth-of-type(2) {
    background-color: #ccc;
    color: #333;
    width: 40%;
}
.container .category-products {
    width: 75%;
}
.container .category-products h1 {
    margin-top: 0;
}
.category-products-list,
.recently-viewed-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* CATEGORY */



/* PRODUCT LIST */
.products-list-item {
    text-align: center;
    width: 25%;
    padding: 10px;
}
.products-list-item a {
    display: block;
    text-decoration: none;
    color: #212121;
    padding: 10px;
}
.products-list-item a:hover,
.products-list-item a:focus {
    background-color: #f5f5f5;
}
.products-list-item .products-list-item-name {
    margin: 0;
}
.products-list-item-price,
.products-list-item-price small {
    font-size: 15px;
}
.products-list-item-price {
    font-weight: 700;
    color: #df3e3c;
}
.products-list-item-price small {
    color: #60605e;
}
.products-list-item-image {
    height: 250px;
    position: relative;
    margin-bottom: 10px;
}
.products-list-item-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
/* PRODUCT LIST */



/* CATEGORY FILTER */
.form-check-label-disabled {
    color: #999;
}
.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}
.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #df3e3c;
}
.range-input {
    position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #df3e3c;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #df3e3c;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}
.range-price {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.range-price label {
    margin-right: 5px;
}
.range-price input {
    width: 100px;
    text-align: right;
    padding: 5px;
}
.range-price input:first-of-type {
    margin-right: 15px;
} 
/* CATEGORY FILTER */



/* PRODUCT PAGE */
.product-detail {
    margin-top: 30px;
}
.product-detail-image-sliders {
    width: 35%;
}
.product-detail-sliders-wrapper {
    display: flex;
}
.product-detail-slider {
    width: calc(100% - 90px);
}
.product-detail-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail-slider .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.swiper.product-detail-slider-mini {
    height: 500px;
    width: 80px;
    margin: 0;
    padding: 0;
    position: relative;
}
.product-detail-slider-mini .swiper-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0px 0px 0px 1px #eee;
    padding: 0;
}
.product-detail-slider-mini .actvd {
    box-shadow:inset 0px 0px 0px 1px #df3e3c;
}
.product-detail-slider-mini .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 0 auto;
}
.product-detail-slider-mini .button-prev,
.product-detail-slider-mini .button-next {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 100%;
}
.product-detail-slider-mini .button-prev,
.product-detail-slider-mini .button-next {
    background-color: #df3e3c;
    width: 30px;
    height: 30px;
    padding: 0;
}
.product-detail-slider-mini .button-prev {
    top: 5px;
}
.product-detail-slider-mini .button-next {
    bottom: 5px;
}
.product-detail-slider-mini .button-prev svg,
.product-detail-slider-mini .button-next svg {
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 22px;
    height: 22px;
}
.product-detail-slider-mini .button-prev svg {
    margin-top: -2px;
}
.product-detail-slider-mini .button-next svg {
    margin-top: 3px;
}
.product-detail-desc {
    width: 48%;
}
.product-detail-name {
    margin-top: 0;
    margin-bottom: 40px;
    display: inline-flex;
    width: 70%;
}
.product-colors-list,
.product-glasses-list,
.product-sizes-list,
.product-types-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.product-colors-list li,
.product-glasses-list li,
.product-sizes-list li,
.product-types-list li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px
}
.product-colors p,
.product-glasses p,
.product-sizes p,
.product-types p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}
.product-color-button,
.product-glass-button,
.product-size-button,
.product-type-button {
    background: none;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    padding: 8px 12px
}
.product-color-button,
.product-glass-button {
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: 32px
}
.product-color-button_active,
.product-glass-button_active,
.product-size-button_active,
.product-type-button_active {
    border-color: #df3e3c
}
.product-price {
    color: #222;
    font-size: 50px;
    line-height: 1;
}
.product-price i {
    font-style: normal;
    color: rgb(179, 179, 183);
    font-weight: 400;
}
.product-price del {
    color: #5d5d64;
    font-size: 28px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
}
.product-price del:before {
    background-color: #5d5d64;
    content: "";
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.product-order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.product-order button {
    width: 180px;
    max-width: 100%;
    background-color: #df3e3c;
    color: #fff;
    box-shadow: none;
    border: 0;
    padding: 14px 28px;
    margin-right: 15px;
}
.product-balance {
    color: #777;
}
.product-balance.product-balance-green {
    color: green;
}
.product-detail-help-buttons {
    width: 17%;
    padding-left: 35px;
}
.product-detail-help-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-detail-help-buttons ul li button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.product-detail-help-buttons ul li button img {
    display: block;
    height: 25px;
    margin: 0 auto 10px;
    width: 25px;
}
.product-detail-help-buttons ul li button span {
    border-bottom: 1px dashed;
    color: #df3e3c;
    font-size: 14px;
}
.product-detail-help-buttons ul li button:hover,
.product-detail-help-buttons ul li button:focus {
    cursor: pointer;
    border-color: #df3e3c;
}
.product-detail-tabs-buttons {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.product-detail-tab-button {
    margin-right: 20px;
}
.product-detail-tab-button button {
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid transparent;
    background: none;
    padding: 20px 0;
}
.product-detail-tab-button button:hover,
.product-detail-tab-button button:focus,
.product-detail-tab-button-active button {
    cursor: pointer;
    color: #df3e3c;
    border-bottom-color: #df3e3c !important;
}
.product-detail-tabs {
    width: 100%;
    margin-top: 50px;
}
.product-detail-tab {
    display: none;
    background-color: rgb(248,249,250);
    border-top: 1px solid #edeef3;
    border-bottom: 1px solid #edeef3;
    padding: 50px 0;
    font-size: 17px;
    line-height: 1.75;
}
.product-detail-tab-active {
    display: block;
}
.product-detail-tab-left {
    width: 35%;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
}
.product-detail-tab-right {
    width: 65%;
}
.product-detail-tab-attributes table {
    width: 100%;
}
.product-detail-tab-attributes table tr td {
    padding: 8px;
}
.product-detail-tab-attributes table tr td:first-child {
    color: #5d5d64;
    width: 30%;
}
.product-reviews-stars {
    display: inline-flex;
    width: 30%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    line-height: 1;
}
.product-reviews-stars svg {
    width: 90px;
    margin-right: 10px;
}
.product-reviews-stars span {
    width: 100%;
}
.product-reviews-stars span:hover {
    color: #df3e3c;
}
.breadcrumbs {
    margin-top: 30px;
}
.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1;
}
.breadcrumbs ul li {
    margin-left: 7px;
}
.breadcrumbs ul li::before {
    content: '/';
    margin-right: 7px;
    color: #999;
}
.breadcrumbs ul li:nth-child(1),
.breadcrumbs ul li:nth-child(2) {
    margin-left: 0;
}
.breadcrumbs ul li:nth-child(1) {
    margin-right: 10px;
}
.breadcrumbs ul li:nth-child(1)::before,
.breadcrumbs ul li:nth-child(2)::before {
    content: '';
    margin-right: 0;
}
.breadcrumbs ul li a {
    color: #999;
    font-size: 14px;
}
.breadcrumbs ul li:last-child a {
    color: #999;
}
.breadcrumbs-arrow-back a svg {
    display: block;
    color: #df3e3c;
    width: 35px;
    height: 35px;
}
.product-review {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}
.product-review-name {
    width: 50%;
    font-weight: 700;
}
.product-review-rating {
    width: 50%;
    text-align: right;
}
.product-review-rating strong {
    color: #df3e3c;
}
.product-review-text {
    width: 100%;
    margin-top: 10px;
}
/* PRODUCT PAGE */



/* HOW TO BUY */
.how-to-buy-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.how-to-buy-item {
    width: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
.how-to-buy-item-icon {
    width: 100px;
    height: 100px;
    border: 2px solid #df3e3c;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-bottom: 15px;
}
.how-to-buy-item-icon svg {
    display: block;
    color: #df3e3c;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.how-to-buy-item-icon-count {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -15px;
    background-color: #df3e3c;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 100%;
    text-align: center;
}
.how-to-buy-item-title {
    width: 100%;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
.how-to-buy-item-text {
    width: 100%;
    text-align: center;
}
/* HOW TO BUY */



/* PAGE */
.page-detail {
    margin-top: 30px;
    margin-bottom: 50px;
}
/* PAGE */



/* MAP */
.map {
    height: 400px;
    position: relative;
}
.map iframe {
    width: 100%;
    height: 100%;
}
#map-wrapper {
    position: relative;
    cursor: help;
    overflow: hidden;
    height: 100%;
}
.map-title {
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
    display: none;
    padding: 5px 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}
/* MAP */



/* FOOTER */
.footer-top {
    background-color: #212121;
    color: #fff;
    padding: 45px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-top a {
    color: #fff;
    text-decoration: none;
}
.footer-about {
    width: 25%;
}
.footer-about .footer-logo {
    width: 300px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}
.footer-about .footer-logo img {
    width: 100%;
}
a.footer-policy {
    border-bottom: 1px solid #df3e3c;
}
a.footer-policy:hover,
a.footer-policy:focus {
    color: #df3e3c;
}
.footer-nav {
    width: 50%;
    padding-left: 200px;
}
.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-nav ul li {
    margin-bottom: 15px;
}
.footer-nav ul li:last-child {
    margin-bottom: 0;
}
.footer-nav ul li a {
    border-bottom: 1px solid #df3e3c;
}
.footer-nav ul li a:hover,
.footer-nav ul li a:focus {
    color: #df3e3c;
}
.footer-socials {
    width: 25%;
}
.footer-socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.footer-socials ul li {
    width: 40px;
}
.footer-socials ul li a {
    display: block;
}
.footer-socials ul li a img {
    width: 100%;
    display: block;
}
.footer-bottom {
    background-color: #333;
    color: #fff;
    padding: 25px 0;
}
/* FOOTER */



/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: modalBg .15s linear;
}
@keyframes modalBg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 800px;
    max-width: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    animation: modalIntro .3s ease-out;

}
@keyframes modalIntro {
    0% {
        margin-top: -300px;
    }
    100% {
        margin-top: 0;
    }
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 35px;
    line-height: 1px;
    margin-top: -15px;
    margin-right: -15px;
    background-color: #fff;
    border: 2px solid #df3e3c;
    border-radius: 100%;
    color: #df3e3c;
}
.modal-close:hover {
    background-color: #df3e3c;
    color: #fff;
    cursor: pointer;
}
/* MODAL */



/* 404 */
.p404 {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.p404 h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.p404 p {
    margin-top: 0;
    margin-bottom: 20px;
}
.p404 a {
    color: #df3e3c;
}
/* 404 */



/* LOADER */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #df3e3c;
    border-color: #fff #df3e3c #fff #df3e3c;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* LOADER */